#bird {
    --defaultBirdTopPosition: 230px;
    display: block;
    left: 100px;
    position: absolute;
    top: var(--defaultBirdTopPosition);
    user-select: none;
    width: 42px;
    z-index: 2;
}
