:root {
    --defaultObstacleLeftPosition: 325px;
    --obstacleGap: 120;
    --scaleX: 1.3;
}

.obstacle-container {
    display: inline-block;
    left: var(--defaultObstacleLeftPosition);
    position: absolute;
    top: 0;
    user-select: none;
}

.obstacle-container .obstacle {
    display: block;
    margin: 0;
    position: relative;
}

.obstacle-container .obstacle-top {
    transform: rotateX(180deg);
}

.obstacle-container .obstacle-bottom {
    bottom: 0;
    top: calc(var(--obstacleGap) * 1px);
}
