:root {
    --obstacleGap: 160;
    --scaleX: 1.3;
}

.obstacle-container {
    position: absolute;
    top: 0;
    left: 500px;
    display: inline-block;
    user-select: none;
    /* width: 78px; */
    transform: scaleX(var(--scaleX));
}

.obstacle-container .obstacle {
    display: block;
    position: relative;
    margin: 0;
}

.obstacle-container .obstacle-top {
    transform: scaleY(1.1) rotateX(180deg);
}

.obstacle-container .obstacle-bottom {
    bottom: 0;
    top: calc(var(--obstacleGap) * 1px);
}
