main {
    background-color: rgb(2, 2, 18);
    color: white;
}

.flappy-bird-text {
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    margin: 10px;
    position: absolute;
    user-select: none;
    z-index: 50000;
}

.Game-container {
    align-content: center;
    display: grid;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

#game {
    height:471px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 320px;
}

.game-forground-img, .game-background-img {
    background-repeat: no-repeat;
}

.game-background-img {
    background-image: url('./assets/fb-game-background.png');
    background-size:cover;
    height: 371px;
    position: relative;
}

.game-forground-img {
    background-image: url('./assets/flappy-bird-bottom-background.png');
    background-size:cover;
    outline-offset: -3px;
    height: 100px;
    position: relative;
    z-index: 3;
}

#score {
    left: 50%;
    position: absolute;
    top: 15%;
    transform: translate(-50%);
    user-select: none;
    z-index: 400000;
}

#end-game-popup-container {
    left: 50%;
    position: absolute;
    top: 25%;
    transform: translate(-50%);
    width: 200px;
    z-index: 5;
}

#end-game-popup {
    background-color: rgb(246, 38, 38);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

#restart-button {
    cursor: pointer;
    padding: 10px;
    width: fit-content;
}

@media screen and (min-width: 500px) {

    .Game-container {
        align-content:stretch
    }
    
    #game {
        margin-top: 155px;
        transform: scale(1.4);
    }
}
