.Game-container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

.Game-container section {
    position: relative;
    overflow: hidden;
}

.game-forground-img, .game-background-img {
    background-repeat: no-repeat;
    min-width: 250px;
    width: 480px;
}

.game-background-img {
    background-image: url('./assets/fb-game-background.png');
    height: 530px;
}

.game-forground-img {
    background-image: url('./assets/flappy-bird-bottom-background.png');
    height: 100px;
    position: relative;
    z-index: 10000;
}

#end-game-popup-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    z-index: 90000;
}

#end-game-popup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 150px;
    padding: 10px;
    background-color: gray;
}

#restart-button {
    padding: 10px;
    width: fit-content;
}
